/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

html,body{
  height:100%;
  width:100%;
}

.full-size{
  height:100%;
  width:100%;
}

.slide-content{
  height:100%;
  width:100%;
  background-size: cover;
  position:absolute;
}

.slide-container{
  position:relative;
  margin-top: 7.25em;
  height:85%;
  margin-bottom:5px;
  overflow: auto;
}
#slide-with-background::after {
  background: url("./img/kinderbetten_landing.png");
  background-size: cover;
  content: "";
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.productFinder-container{
  position:relative;
  height:100%;
  width: 90%;
  margin-left: 7%;
  margin-top:2.5%;
  /*border-style: solid;
  border-width: 1px;
  border-color: black;*/
  overflow:hidden;
}

.slide-thumbnail .caption{
  text-align: center;
  font-size: 0.8vw;
  font-weight: bold;
}

.slide-thumbnail .caption-over{
  background-color:rgba(0,0,0,0.8);
  color:white;
  font-weight: bold;
}

a.slide-thumbnail:hover{
  text-decoration:none;
  color:inherit;
  cursor: pointer;
}

/** NOT USE AT THE MOMENT, WOULD BE TO DO A GLOBAL OVERLAY ON IMG **/
.caption-img-overlay {
  position:absolute;
  top:0px;
  right:0px;
  background:rgba(0, 0, 0, 0.1);
  width:100%;
  height:100%;
  padding:2%;
  text-align:center;
  color:#fff !important;
  z-index:2;
  font-size:1.5em;
  font-weight:bold;
}

.slide-thumbnail {
  overflow:hidden;
}


.slide-title{
  opacity:1;
  margin-bottom: 20px !important;
  color: #7C7C7C;
  font-family: 'PT Sans',sans-serif;
}

.slide-title-end-page{
  opacity:1;
  margin-bottom: 0;
  color: #7C7C7C;
  font-family: 'PT Sans',sans-serif;
}

.slide-thumbnail .img-container{
  overflow: hidden;
  height:40%;
  width:90%;

}


.productFeed-container{
  position:relative;
  height:50%;
  overflow:hidden;
}

.not-active{
  font-family: 'PT Sans',sans-serif;
  pointer-events: none;
  cursor: default;
  color:#787878;
  font-size: 15px;
}
.active{
  font-family: 'PT Sans',sans-serif;
  color:#787878;
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
}
.btn-thumb{
  background-color:#a7173a;
  border-radius:0;
  color: #fff;
  border-color: transparent;
  margin-top: 8px;
  font-size: inherit;
  vertical-align: bottom;
}
.img-thumb{
  max-height:230px;
  width: 170px;
  max-width: 100%;
  background-color:white;
  border-radius:0;
  padding: 10px;
  display: center;
  margin-left:auto;
  margin-right:auto;
}
.img-thumb-endpage{
  height:280px;
  width: 90%;
  padding: 10px;
  display: center;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  background-color: #ffffff;


}
.img-thumb-endpage:hover{

 background-color: #ebebe0;
}

.img-thumb-endpage::after{
  background-color:brown;
  display:block;
  border-radius:0;
  content: "";
  opacity: 0.1;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0px;
  position: absolute;
  z-index: -1;
}
.slider{
  padding-left:100px;
  padding-right:100px;
  padding-top:3px;
  padding-bottom:3px;
}
.slider::after{
  background-color:brown;
  display:block;
  border-radius:0;
  content: "";
  opacity: 0.1;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0px;
  position: absolute;
  z-index: -1;
}

div.col-md-2{
  font-size: 10px !important;
}
div.col-md-3{
  font-size: 12px !important;
}
div.col-md-4{
  font-size: 12px !important;
}

rzslider .rz-pointer {
   background: white;
   border: 1px pink solid;
}


rzslider .rz-bar{
   height: 2px;
   box-shadow: 0px 0px 1px rgb(191, 155, 112), 0px 0px 1px rgb(191, 155, 112);
}

span.rz-pointer{
  background: white;
  border: 1px pink solid;
}
span.rz-pointer::after{
  background: white;
  border: 1px pink solid;
}
rzslider .rz-pointer:focus{
  outline: 0 none !important;
}

rzslider .rz-pointer.rz-active:after {
  background-color: white;
  border: 1px pink solid !important;
}
rzslider .rz-bar.rz-selection {
    background: pink;
}
@keyframes slideOutLeft {
  from    { transform: translateX(0); }
  to      { transform: translateX(-100%); }
}

@keyframes slideInRight {
  from    { transform:translateX(100%); }
  to      { transform: translateX(0); }
}

@keyframes slideInLeft {
  from    { transform: translateX(-100%); }
  to      { transform: translateX(0%); }
}

@keyframes slideOutRight {
  from    { transform:translateX(0%); }
  to      { transform: translateX(100%); }
}

.swap-animation.ng-enter        { animation:slideInRight 0.5s both ease-in; }
.swap-animation.ng-leave        { animation:slideOutLeft 0.5s both ease-in; }

.swap-animation-reverse.ng-enter        { animation:slideInLeft 0.5s both ease-in; }
.swap-animation-reverse.ng-leave        { animation:slideOutRight 0.5s both ease-in; }




.product-animate.ng-enter
{
  -webkit-transition: 5s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 5s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 5s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 5s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 5s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
}

.product-animate.ng-leave
{
  -webkit-transition:  5s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 5s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 5s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 5s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 5s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
}

.product-animate.ng-enter.product-animate.ng-enter-active,
.product-animate.ng-leave {
  opacity: 1;
}

.product-animate.ng-leave.product-animate.ng-leave-active,
.product-animate.ng-enter {
  opacity: 0;
}

/* to make scrollbars always visible */
.scrollbar-always-visible.ps-container > .ps-scrollbar-x-rail,
.scrollbar-always-visible.ps-container > .ps-scrollbar-y-rail {
  opacity: 0.6;
}

@font-face {
  font-family: gothamBlack;
  src: url("fonts/gotham-black.ttf");
}


@font-face {
  font-family: gothamLight;
  src: url("fonts/gotham-light.ttf");
}

@font-face {
  font-family: gothamMedium;
  src: url("fonts/gotham-medium.ttf");
}

@font-face {
  font-family: gothamBook;
  src: url("fonts/gotham-book.ttf");
}

.slide-thumbnail .caption{
  font-family: gothamLight;
}


.slide-title pre{
  font-family: 'PT Sans',sans-serif;
  font-size: 49px;
}

.full-height{
  height:100%;
}

pre{
  border:initial;
  background-color:inherit;
  color:inherit;
  font-size:xx-large;
  overflow: visible;
  margin: 0px;
  padding: 0px;
}


.breadcrumb {
  /*centering -> the centering got to be in the container Mr.Jean*/
  display: inline;
  float:none;
  background-color: inherit;
  text-align: left;
  padding: 0;
}
.breadcrumb-container{
    text-align: center;
    margin-top: 50px;
}

.action-slideName{
  font-weight: bold;
  text-align: left;
  margin-top: 9px;
  font-family: gothamMedium;
  font-size:1.2em;
}

.action-slideName.inactive{
  font-weight: normal;
}

.action-slideName.inactive,.action-optionName,.light-grey{
  color: #bfbfbf;
}

.action-optionName{
  font-weight: bold;
  text-align: left;
    margin-top: 10px;
  font-family: gothamBook;
  font-size: 1.2em;
}

.action-icon{
  padding-left:8px;
}

.slide-thumbnail img { transition: all 5s ease-in-out; }
/*.slide-thumbnail:hover img { transform: scale(1.1); }*/

.hover-underline-center{
  border-width: 0px;
  border-color: black;
  border-style:solid;
  padding: 3px;
}

.slide-thumbnail:hover .hover-underline-center, .slide-thumbnail:focus .hover-underline-center{
  border-bottom-width: 1px;
}

.previous-button{
  color: black;
  font-family: gothamBlack;
  font-size: 1.3em;
  font-weight: bold;
}

.previous-button:hover, .previous-button:active {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.previous-button:hover, .previous-button:active{
  text-decoration: none;
  color:black;
  cursor: pointer;
}

.clickable{
  cursor: pointer;
}

.sb-boxes{
    text-align: center;
}
.sb-boxes1{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.resize{
    width: 60%;
}
/*slide nav bar style*/
.arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-left: 20px solid #fff;
  float:left;
}
.midlle{
    background:#fff;
    width:80px;
    float:left;
    height:40px;
    line-height: 40px

}
.main_div{
	display:inline-block;

}

.innertriangle {
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-top: 20px solid #fff;
  border-right: 20px solid #fff;
  border-bottom: 20px solid #fff;
  float:left;

}
.main_div:first-child .innertriangle{
	border: none;


}
.main_div:first-child .midlle{
	padding-left: 5px;
}
.clear{
  clear: both;
}
